@page
@model WarehousesEditor.Pages.WarehousesSection.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse[0].WarehouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Warehouse) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WarehouseId">Edit</a> |
                <a asp-page="./Warehouse" asp-route-id="@item.WarehouseId">Details (Edit Goods)</a> |
                <a asp-page="./Delete" asp-route-id="@item.WarehouseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
