@page
@model WarehousesEditor.Pages.CurrencySection.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a> | 
    <span>Currencies last updated at: @Model.LastUpdated</span> | 
    <form method="post">
        <input type="submit" value="Synchronize Currencies" class="btn btn-primary" />
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Currency[0].CurrencyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency[0].Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency[0].DateUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Currency)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CurrencyId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CurrencyId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CurrencyId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
